GATEWAY_PORT=8000

AUTH_PORT=8001
ROOM_PORT=8002
COLLAB_PORT=8004
CODE_RUNNER_PORT=8005

AUTH_SERVICE_URL=http://localhost:8001
ROOM_SERVICE_URL=http://localhost:8002
COLLAB_SERVICE_URL=http://localhost:8004
CODE_RUNNER_SERVICE_URL=http://localhost:8005